
<head>
<link href="" type="text/css" rel="../stylesheets/style.css">
<link href="http://ir.ebaystatic.com/rs/v/ntow0kxljmzqtfiydsegf2wiqia.css" type="text/css" rel="stylesheet">
</head><body>
<div style="clear: both"></div>
			<div class="gcft" style="width: 100%;">
        		<div id="glbfooter" class="gh-w gh-flex"><div><div id=rtm_html_1650></div><div id=rtm_html_1651></div></div><h2 class=gh-ar-hdn>Additional site navigation</h2><div id="gf-t-box"><table class="gf-t"><tr><td colspan=2><ul id="gf-l" ><li class="gf-li"><a href="#" 
		 _exsp=m571.l3329 class="thrd gf-bar-a"
	>Community</a></li><li class="gf-li"><a href="#" 
		 _exsp=m571.l2602 class="thrd gf-bar-a"
	>About eBay</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l3330 class="thrd gf-bar-a"
	>Announcements</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l2616 class="thrd gf-bar-a"
	>Security Center</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l1619 class="thrd gf-bar-a"
	>Resolution Center</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l1613 class="thrd gf-bar-a"
	>Seller Information Center</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l2604 class="thrd gf-bar-a"
	>Policies</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l1625 class="thrd gf-bar-a"
	>Site Map</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l2606 class="thrd gf-bar-a"
	>eBay official time</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l1617 class="thrd gf-bar-a"
	>Preview new features</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l2911 class="thrd gf-bar-a"
	>Contact us</a></li><li class="gf-li"><a href="#" 
		 _sp=m571.l2628 class="thrd gh-survey gf-bar-a" title="opens in a new window or tab"
	>Tell us what you think</a></li></ul>
	<a href="#" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a><span class=gh-ar-hdn>eBay Money Back Guarantee</span></a></td></tr></tbody></table></div></td></tr><tr valign="top"><td class="gf-legal">Copyright &copy 1995-2014 eBay Inc. All Rights Reserved. <a href="#">User Agreement</a>, <a href="#">Privacy</a> and <a href="#">Cookies</a>.</td></tr></table></div></div><!--ts:2014.11.18.05:30--><!--rq:--><!--rvr:59rc5--></div>  	
	<div class="alert-box error" id="errorMessage"><span id="error-span"></span></div>
	<div class="alert-box success" id="successMessage"><span id="success-span"></span></div>
	</body>