
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

<head>

<title></title>



</head>




<body>
	<%- include header.ejs %>

<b>
Welcome to eBay !!
</b>
	
</body>
</html>
