<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
</body>
<div class="body">
	<div>
		<img src="../images/ebay_logo.PNG"/ height="" width="" class="signin-logo">
	</div>
	<div class="signin-body">
		<div class="signin-div left" >
		<h2 >Sign in</h2><br/>
			<form action="/signin" method="POST">
				<span>Email or user ID</span><br/>
				<input id="username" type="text" name="username" placeholder="username" required="required"><br/>
				<span>Password</span><br/>
				<input id="password" type="password" name="password" placeholder="password" required="required"><br/>
				<input id="sbtBtn" class="btn btn-prim" type="submit" value="Sign in">
				<span class="requiredClass"><%=message%></span>
			</form>
			
			
		</div>
		<div class="signin-div right">
			<h2 class="new-to-ebay-title">New to eBay?</h2><br/>
			
			<span class="register-text">Get started now. It's fast and easy!</span><br/>
			<a href="/signup" class="btn btn-prim register-link" >Register</a>
			
		<div>
	</div>

</html>