<!DOCTYPE html>
<html>
<head>
<title>eBay | Sign Up</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../Scripts/home.js"></script>
</head>
<% include header.ejs%>
<body class="body">




	<div class="container">
		<div id="content">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a id="aBuyers" href="#buyers"
					data-toggle="tab">Categories</a></li>


			</ul>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="buyers">

					<div class="row header">



						<div class="col-md-12">
							<div class="row">
								<div class="table-responsive">
									<table id="tblBuyer" class="table table-bordered table-striped">
										<thead>
											<tr>

												<th class="text-nowrap"> <b> Category Name </b></th> 
												<th> <b>Click on Image</b>	</th>

											</tr>
										</thead>
										<% if(category && category != null && category.length > 0 ) {
										for(var i=0; i < category.length; i++) { %>
										<tbody>

											<tr>



												<td><a href=""> <%= category[i].name %> </a></td>

												<td>

													<form action="/subCategories" method="post"
														style='width: 100px;'>
														<div>
															<b><input type="image" value="submit" name="submit"
																src="<%=category[i].image%>" height="100px"
																width="100px"> <input type="hidden"
																name="catName" value="<%=category[i].name%>"></b>
														</div>
													</form>
												</td>

											</tr>

										</tbody>
										<% } } %>
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<%- include footer.ejs %>
</body>

</html>