<!DOCTYPE html>
<html>
<head>
<title>eBay | Home</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>

	<div  >
		<%- include header.ejs %>
	</div>
	
<div class="container">
<div id="content">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a id="aBuyers" href="#buyers" data-toggle="tab">Buyers</a></li>
    <li><a id="aSellers" href="#sellers" data-toggle="tab">Sellers</a></li>
    <li><a id="aAllUsers" href="#both" data-toggle="tab">All Users</a></li>

</ul>
<div id="my-tab-content" class="tab-content">
<div class="tab-pane active" id="buyers">

    <div class="row header">



        <div class="col-md-12">
            <div class="row">
                <div class="table-responsive">
                    <table id="tblBuyer" class="table table-bordered table-striped">
                        <thead>
                        <tr>

                            <th class="text-nowrap">
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Email Address
                                <small>(username)</small>
                            </th>
                            <th>
                                Membership ID

                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Zipcode
                            </th>

                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                    
                        <tbody>

                        <tr>



                            

                            <td>
                                <a href="#" onclick="location.href='/editUser/<%=rows[i].userId%>'" type="button" class="btn btn-info">Update</a>
                                <a href="#" onclick="location.href='/deleteUser/<%=rows[i].userId%>'" type="button" class="btn btn-danger">Delete</a>
                            </td>

                        </tr>

                        </tbody>
                      
                    </table>

                </div></div>
        </div> </div>
</div>

<%- include footer.ejs %>
</body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../Scripts/home.js"></script>
</html>
