<!DOCTYPE html>
<html>
<head>
<title>eBay | Sign Up</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
 <script src="/Scripts/signup.js"></script>
</head>
<% include header.ejs%>
<body class="body">
<h1>List Categories:-</h1>
<div class="table-responsive">
<table class="table table-bordered table-striped">
 <thead>
		<tbody>
			<tr>
				<td class="gh-td"><div class="gh-shop">
						
				
							<% if(category != null){ category.forEach(function(item) {%>
							<a href="#">
									<option value="<%=item.categoryId%>"><%= item.name%></option>
						
							</a> <% });} %>

						
					</div></td>
			</tr>
		</tbody>
		
	</table>
</div>
</body>

</html>