<% for(var count=0;count < products.length; count++)  { 
	   var curObj=products[count];
	  	
	%>
		<div>
			<div>
				<img src="<%curObj.image%>" height="40" width=40>
				<span><%=curObj.name%></span></br>
				<span><%=curObj.description%></span>
				<span><%=curObj.quantity%></span>
			</div>
			<div>
				<span id="remove_product_link" class="cart-links">Remove from cart</span>
				<span id="update_product_link" class="cart-links">Update cart</span>
			</div>
			
		</div>
			
		
		<% }%>
