<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../public/includes/css/signup.css">
</head>
<body>
	<div id="DIV_10">
		<div id="DIV_11">

			<div id="DIV_12">

			</div>


			<div id="DIV_14">


				<table id="TABLE_15">
					<tbody id="TBODY_16">
						<tr id="TR_17">
							<td id="TD_18">

								<a href="http://www.ebay.com/" id="A_19">eBay<img width="250" height="200" alt="" src="https://secureir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="IMG_20" /></a>


							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<h1 id="H1_21">
				<span id="SPAN_22">Get started with eBay</span><a name="mainContent" tabindex="-1" id="A_23">Get started with eBay</a>
			</h1>

			<table id="TABLE_25">
				<tbody id="TBODY_26">
					<tr id="TR_27">
						<td id="TD_28">
							<div id="DIV_29">
								<h2 id="H2_30">
									<span id="SPAN_31">Create your personal account or <a id="A_32" href="https://scgi.ebay.com/ws/eBayISAPI.dll?RegisterEnterInfo&amp;bizflow=2">start a business account</a>.</span>
								</h2>
							</div>
						</td>
						<td id="TD_33">
						</td>
					</tr>
					<tr id="TR_34">
						<td id="TD_35">
							<div id="DIV_36">
								<form action="https://reg.ebay.com/reg/PartialReg" method="post" name="ppaRegForm" id="FORM_37">
									<div id="DIV_38">
										<i id="I_39"></i>
										<p id="P_40">
											Please fix the errors highlighted in the fields below:<span id="SPAN_41"></span>
										</p>
										<ul id="UL_42">
										</ul>
									</div>
									<style id="STYLE_43">#statErr li{
										display:none;}
									</style>
									<div id="DIV_44">
										
										<div id="DIV_48">
											<div id="DIV_49">
												<div id="DIV_50">
													<label for="firstname" id="LABEL_51">
														First name
													</label>
													<div id="DIV_52">
														<input maxlength="64" type="text" name="firstname" id="INPUT_53" size="32" />
														<div id="DIV_54">
															<div id="DIV_55">
																Please enter your first name.
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_56">
												<div id="DIV_57">
													<label for="lastname" id="LABEL_58">
														Last name
													</label>
													<div id="DIV_59">
														<input maxlength="64" type="text" name="lastname" id="INPUT_60" size="32" />
														<div id="DIV_61">
															<div id="DIV_62">
																Please enter your last name.
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_63">
											</div>
											<div id="DIV_64">
												<div id="DIV_65">
													<div id="DIV_66">
														<label for="email" id="LABEL_67">
															Email
														</label>
														<div id="DIV_68">
															<input maxlength="64" type="text" name="email" id="INPUT_69" size="32" />
															<div id="DIV_70">
																<div id="DIV_71">
																	Please enter your email address.
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="DIV_72">
											</div>
											
											<div id="DIV_74">
												<div id="DIV_75">
													<div id="DIV_76">
														<label for="PASSWORD" id="LABEL_77">
															Create your password
														</label>
														<div id="DIV_78">
															<input maxlength="64" type="password" name="pass" id="INPUT_79" size="32" />
															<div id="DIV_80">
																<div id="DIV_81">
																	Please enter your password.
																</div>
															</div>
														</div>
													</div>
												</div><b id="B_82"></b>
												<div id="DIV_83">
													<span id="SPAN_84">Strength</span>
													<div id="DIV_85">
														<div id="DIV_86">
														</div>
													</div>
												</div>
												<div id="DIV_87">
													<b id="B_88"></b>
													<div id="DIV_89">
														<ul id="UL_90">
															<li id="LI_91">
																Use 6 to 64 characters.
															</li>
															<li id="LI_92">
																Besides letters, include at least a number or symbol (!@#$%^*-_+=).
															</li>
															<li id="LI_93">
																Password is case sensitive.
															</li>
															<li id="LI_94">
																Avoid using the same password for multiple sites.
															</li>
														</ul>
													</div>
												</div>
												<div id="DIV_95">
												</div>
											</div>
											<div id="DIV_96">
												<div id="DIV_97">
													<label for="rpass" id="LABEL_98">
														Confirm password
													</label>
													<div id="DIV_99">
														<input maxlength="64" type="password" name="rpass" id="INPUT_100" size="32" />
														<div id="DIV_101">
															<div id="DIV_102">
																Please enter your password again.
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="addr">
												
												<label id="lbladdr">
													Address
												</label>
												<div>
													<input class="inputbox" maxlength="64" type="text" name="txtaddr" id="txtaddr" size="32" />
													
												</div>
											</div>
											<div id="city">
												
												<label id="lblcity">
													City
												</label>
												<div>
													<input class="inputbox" maxlength="64" type="text" name="txtcity" id="txtaddr" size="32" />
													
												</div>
											</div>
											<div id="zipcode">
												
												<label id="lblzipcode">
													Zipcode
												</label>
												<div>
													<input class="inputbox" maxlength="64" type="text" name="txtzip" id="txtzip" size="32" />
													
												</div>
											</div>
											<div id="ssn">
												
												<label id="lblssn">
													Membership ID
												</label>
												<div>
													<input class="inputbox" maxlength="64" type="text" name="txtssn" id="txtssn" size="32" />
													
												</div>
											</div>
											
										</div>
									</div>
									<div id="DIV_103">
										<!-- shows old term of use with no option for marketing checkbox -->

										<div id="DIV_104">
											<b id="B_105">By clicking "Submit" I agree that:</b>
											<ul id="UL_106">
												<li id="LI_107">
													I have read and accepted the <a title="link opens in new window" href="http://pages.ebay.com/help/policies/user-agreement.html" id="A_108">User Agreement<b id="B_109">- opens in a new window or tab</b></a> and <a title="link opens in new window" href="http://pages.ebay.com/help/policies/privacy-policy.html" id="A_110">Privacy Policy<b id="B_111">- opens in a new window or tab</b></a>.
												</li>
												<li id="LI_112">
													I may receive communications from eBay and can change my notification preferences in My eBay.
												</li>
												<li id="LI_113">
													I am at least 18 years old.
												</li>
											</ul>
										</div>

									</div>
									<div id="DIV_115">
										<div id="DIV_116">
											<input id="INPUT_117" type="submit" value="Submit" />
										</div>
									</div>

								</div>
							</form>
							<form method="post" id="FORM_124" name="BusinessRegistration" action="">
							</form>
						</div>
					</td>
					<td id="TD_125">
						<div id="DIV_126">
							<div id="DIV_127">
								<div id="DIV_128">
									<div id="DIV_129">
										<div id="DIV_130">
											<div id="DIV_131">
												<h2 id="H2_132">
													<b id="B_133">Already have an account?</b>
												</h2>
											</div>
											<form action="" method="post" id="FORM_134" name="signinForm">
												<span id="SPAN_135"><input id="INPUT_136" type="submit" value="Sign in" /></span>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div><img id="IMG_137" width="1" height="1" alt="" src="https://scgi.ebay.com/ws/eBayISAPI.dll?LogBuyerRegistrationJSEvent&amp;eventid=21&amp;regppapage=1&amp;ru=http%3A%2F%2Fmy.ebay.com%2Fws%2FeBayISAPI.dll%3FMyEbayBeta%26MyEbay%3D%26gbh%3D1%26guest%3D1&amp;src=rap" /><img id="IMG_138" width="1" height="1" alt="" />



	<div id="DIV_143">
		<div id="DIV_144">
			<div id="DIV_145">
			</div>
			<div id="DIV_146">
			</div>
		</div>

		<div id="DIV_148">
			<table id="TABLE_149">
				<tbody id="TBODY_150">
					<tr id="TR_151">
						<td id="TD_152">
							Copyright © 1995-2014 CMPE 273 Team #3. All Rights Reserved.
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>