<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body class="body">
	<div class="signUp-header">
	<img src="../images/ebay_logo.PNG"/ height="" width="" class="logo">
	<h1>Get started with eBay</h1><br/>
	<span>Create your personal account or <a>start a business account</a></span>
	
	</div>
	<div class="signup-body">
	<div class="form-outer-div">
		<form class="form-style">
			<div>
				<div class="float-left">
					<input id="first-name" type="text" name="fname" placeholder="First name" required="required">
				</div>
				<div class=float-right>
					<input id="last-name" type="text" name="lname" placeholder="Last name" required="required">
				</div>
				
				
			</div>
			<div>
				<div class="float-left">
					<input id="username" type="text" name="username" placeholder="Username" required="required"><br/>
					<input id="password" name="password" placeholder="Password" type="password" required="required"><br/>
					<input id="password" name="password" placeholder="Confirm password" type="password" required="required"><br/>
				</div>
				<div class=float-right>
					<input id="address" type="text" name="address" placeholder="Address" required="required"><br/>
					<input id="City" type="text" name="City" placeholder="City" required="required"><br/>
					<input id="zip" type="text" name="zip" placeholder="Address" required="required"><br/>
					
				</div>
				
			</div>
			<div class="form-footer">
			<input id="userType-seller" name="userType_seller" type="checkbox" required="required"><span class="checkbox-text">Sign up as buyer</span>
					<input id="userType-buyer" name="userType_buyer" type="checkbox" required="required"><span class="checkbox-text">Sign up as seller</span><br/>
					<b>By clicking "Submit" I agree that:</b>
					<ul><li>I have read and accepted the <a title="link opens in new window" href="" target="_blank">User Agreement<b class="g-hdn"></b></a> and <a title="link opens in new window" href="" target="_blank">Privacy Policy<b class="g-hdn"></b></a>.</li><li>I may receive communications from eBay and can change my notification preferences in My eBay.</li><li>I am at least 18 years old.</li></ul>
			</div>
			<div>
			<input id="sbtBtn" class="btn btn-prim" type="submit" value="Submit">
			</div>
			
		
		</form>
	</div>
	<div class="go-to-signin-div">
	<span>Already have an account?</span><br/>
			<a  class="btn btn-prim" >Sign in</a>
	</div>
	</div>
	
</body>

</html>