<!DOCTYPE html>
<html>
<head>
<title>eBay | Sign Up</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="/Scripts/signup.js"></script>
</head>
<body >
	<% include header.ejs %>
	

	
	<br>



	<td class="gh-td" id=gh-as-td><div id="gh-as"></div></td>
	
	<div class="signup-body">
		<div class="form-outer-div">
			<form class="form-style" action="/updateCategory" id="signup-form" method="POST">
                  <h1>Update Category</h1>
				<td class="gh-td" id=gh-cat-td><div id="gh-cat-box">
						<div class="float-left">

							<select title="Select a category to Update"
								class="gh-sb gh-sprRetina" size="1" id="gh-cat" name="categoryId"> 
								<option selected="selected">Select a Category</option>
								<%
								if(category != null){ category.forEach(function(item) {%>
								<option name="catName" value="<%= item.categoryId%>"><%= item.name %></option>
								<% console.log("name:"+item.name); });} %>
							</select></div></td>
		</div>
		<br>


		<div class="float-left">
			<input id="category-name" type="text" name="newCategoryName"
				placeholder="New Category Name" required="required"><span
				class="requiredClass">*</span><br> <br> Upload Image:- <input
				type="file" name="img"> <br><br> <input
				id="sbtBtn" class="btn btn-prim" type="submit"
				value="Update Category">



		</div>


		</form>
	</div>
	<div class="alert-box error" id="errorMessage"><span id="error-span"></span></div>
	<div class="alert-box success" id="successMessage"><span id="success-span"></span></div>
<%- include footer.ejs %>

</body>

</html>