<div>
	<div class="warning" id="warning">
		<h5>We value customer privacy. So you can see only limited details of the user.</h5>
	</div>
	
	<div class="details">
		<b>Details</b></br>
	<span class="name">Name: <%=firstName%>. <%=lastName%></span><br/>
	<span >Location: <%=city%></span><br/>
	</div>
	
	
	

</div>