<!DOCTYPE html>
<html>
<head>
<title>eBay | Home</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet"
	href="//code.`jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../Scripts/home.js"></script>
</head>
<body>
	<div class="dashboard-header"><%- include header.ejs %></div>


	<div class="dashboard-body">

		<% var count=0; var catCount = 0; %>

		<%category.forEach(function(item){ %> <% if(type ==
		category[catCount].name){ if(subCategories[catCount] != null){
		subCategories[catCount].forEach(function(item) { if(count<4) { %>
		<form action="/showProducts" method="post"  >
		<div>
		  
		 <input type="image" value="submit" name="submit" src="<%=item.image%>" >
		  <input type="hidden" name="subCategoryId" value="<%=item.subCategoryId%>">
		  </div>
	</form>


		<%} else { %> <a href="#"> <img src="<%=item.image%>"
			height="300px" width="99%"></a> <%} count++;});}} catCount++ });%>





	</div>
</body>
</html>
